/* Universal Styles */

body {
  background-color: #BC8F8F;
  font-family: 'Raleway', sans-serif;
  color: #FFFAFA;
  line-height: 1.75em;
  position: relative;
  padding: 1px;
  margin: 0 auto;
}

/* Navigation Section*/

.home {
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: auto;
  padding: 12px 60px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  word-spacing: 10px;
}
.home a {
  color: #000000;
  font-size: 14px;
  font-weight: 300px;
  cursor: pointer;
  margin: 2px;
  padding: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.hello{
  font-family: "Karla",sans-serif;
  font-size: 2rem;
  font-weight: 700;
  width: 60%;
  position: absolute;
  line-height: 1.42857143;
  text-align: left;
  margin-top: -350px;
  margin-left: 150px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
.hello p{
  color: #FFFAFA;
  padding-left: 5%;
  font-size: 2rem;
  }
.right-div{
  margin-top: 150px;
  position: absolute;
  border-left: 3px;
  /*border-left-style: solid;*/
  height: 400px;
}

  /* Footer Section */

.copyright {
  background-color: black;
  opacity: .8;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 14px;
  text-align: center;
  color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 650px;
  width: 100%;
}
